<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="5"
      android:versionName="1.0.1"
      android:installLocation="auto">

    
    
    <uses-permission android:name="android.permission.CAMERA"/>
  	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


</manifest>